@import url('https://fonts.googleapis.com/css?family=Quicksand:700');
.toolTip {
    color:white;
    position: absolute;
    z-index: 100;
    min-height: 180px;
    width:220px;
    background: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius:5px;
    word-wrap: break-word
}
#continueToolTip {
    color:#42d1f4;
}
#rightToolTip {
    color:#0431e5;
}
#leftToolTip {
    color:#e038d7;
}
#mergeToolTip {
    color:#f72222;
}
#splitToolTip {
    color:#f9f345;
}

.toolTip ul {
    list-style-type: none;
    margin-left: -15px;
    margin-top: 5px;
}
.bold {
    font-weight:bold;

}
.mapboxgl-canvas {
    min-height: 100vh;
}
.mapboxgl-map {
    min-height: 100vh;
}
#controls {
    position: absolute;
    top:0px;
    right:0px;
    min-height:100vh;
    min-width:20%;
    background-color: rgba(0,0,0,.6);
}
.controlsTitleItem{
    color:white;
    font-family: 'quicksand';
    margin: 20px;
    cursor: pointer;
}
.controlsTitleItem > input {
    display: none;
}
.fa-upload {
    color:white;
    font-size: 20px;
    margin-right:10px;
    margin-left:10px;
    transition: all .3s ease-out;
    cursor: pointer;
}
.fa-upload:hover {
    color:#FEA62F;
    transform: scale(1.3);
}