.toolTip {
    color:white;
    position: absolute;
    z-index: 100;
    min-height: 180px;
    width:220px;
    background: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius:5px;
    word-wrap: break-word
}
#continueToolTip {
    color:#42d1f4;
}
#rightToolTip {
    color:#0431e5;
}
#leftToolTip {
    color:#e038d7;
}
#mergeToolTip {
    color:#f72222;
}
#splitToolTip {
    color:#f9f345;
}

.toolTip ul {
    list-style-type: none;
    margin-left: -15px;
    margin-top: 5px;
}
.bold {
    font-weight:bold;

}
.mapboxgl-canvas {
    min-height: 100vh;
}
.mapboxgl-map {
    min-height: 100vh;
}